In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from spotlight.factorization.implicit import ImplicitFactorizationModel
from spotlight.interactions import Interactions
from spotlight.cross_validation import random_train_test_split

In [94]:
ratings_df = pd.read_csv('C:/Users/papad/Desktop/goodbooks-10k-master/goodbooks-10k-master/ratings.csv')
books_df = pd.read_csv('C:/Users/papad/Desktop/goodbooks-10k-master/goodbooks-10k-master/books.csv')
to_read_df = pd.read_csv('C:/Users/papad/Desktop/goodbooks-10k-master/goodbooks-10k-master/to_read.csv')

# Dataset

In [95]:
percentage = 1
ratings_df = ratings_df.head(int(len(ratings_df)*(percentage/100)))

In [96]:
books_df

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [97]:
to_read_df

        user_id  book_id
0             9        8
1            15      398
2            15      275
3            37     7173
4            34      380
...         ...      ...
912700    39374     1049
912701    10492     5180
912702    21879     4827
912703    21879     6642
912704    48192     7773

[912705 rows x 2 columns]

In [32]:
num_users = ratings_df['user_id'].unique()
print(len(num_users))
num_items = ratings_df['book_id'].unique()
print(len(num_items))

1157
4477

# Spotlight

In [33]:
from collections import defaultdict
from itertools import count
uid_map = defaultdict(count().__next__)
iid_map = defaultdict(count().__next__)
uids = np.array([uid_map[uid] for uid in ratings_df["user_id"].values ], dtype=np.int32)
iids = np.array([iid_map[iid] for iid in ratings_df["book_id"].values ], dtype=np.int32)

uid_rev_map = {v: k for k, v in uid_map.items()}
iid_rev_map = {v: k for k, v in iid_map.items()}


print("userId %d got uid %d" % (556, uid_map[556]))
print("movieId %d got iid %d" % (54001, iid_map[54001]))

userId 556 got uid 1157
movieId 54001 got iid 4477

In [34]:
from spotlight.interactions import Interactions
from spotlight.cross_validation import random_train_test_split
from spotlight.factorization.implicit import ImplicitFactorizationModel
import time  


#pecify the ids of the users and items for all the pairs of user-item interactions
implicit_interaction = Interactions(user_ids=uids,
                                   item_ids=iids)


#lets initialise the seed, so that its repeatable and reproducible 
implicit_train_tmp, implicit_test = random_train_test_split(implicit_interaction, random_state=np.random.seed(42))
implicit_train, implicit_val = random_train_test_split(implicit_train_tmp, random_state=np.random.seed(42))
implicit_train_features, implicit_train_labels = random_train_test_split(implicit_train, random_state=np.random.seed(42))

In [35]:
print(implicit_train)
print(implicit_test)
print(implicit_val)
print(implicit_train_features)
print(implicit_train_labels)

<Interactions dataset (1157 users x 4477 items x 38248 interactions)>
<Interactions dataset (1157 users x 4477 items x 11953 interactions)>
<Interactions dataset (1157 users x 4477 items x 9563 interactions)>
<Interactions dataset (1157 users x 4477 items x 30598 interactions)>
<Interactions dataset (1157 users x 4477 items x 7650 interactions)>

In [36]:
def interactionToDataFrame(dataset):
    converted_users = []
    converted_movies = []
    rating = []
    for i in range(len(dataset.user_ids)):
        converted_users.append(uid_rev_map[dataset.user_ids[i]])
        converted_movies.append(iid_rev_map[dataset.item_ids[i]])
        rating.append(float(ratings_df['rating'][(ratings_df['book_id'] == converted_movies[i]) & (
            ratings_df['user_id'] == converted_users[i])].values))

    df = pd.DataFrame({'user_id': converted_users,
                       'book_id': converted_movies, 'rating': rating})
    return df

In [37]:
train_df = interactionToDataFrame(implicit_train)
val_df = interactionToDataFrame(implicit_val)
test_df = interactionToDataFrame(implicit_test)
train_features_df = interactionToDataFrame(implicit_train_features)
train_labels_df = interactionToDataFrame(implicit_train_labels)

## Implicit Factorization model

In [38]:
implicit_model = ImplicitFactorizationModel(n_iter=5)

current = time.time()

implicit_model.fit(implicit_train, verbose=True)

end = time.time()
diff = end - current
print('Training took %d second' % (diff))

Epoch 0: loss 0.9026272078355153
Epoch 1: loss 0.539018658399582
Epoch 2: loss 0.42674511710802715
Epoch 3: loss 0.35641053716341653
Epoch 4: loss 0.30926465650399526
Training took 14 second

### Top - K

In [39]:
import scipy.stats as st
k = 100
def topK_implicit(user, model, k=100):
  a= list()
  ranks = st.rankdata(-model.predict(user))   
  for iid in np.argwhere(ranks <= k):
    a.append(iid_rev_map[iid.item(0)])
  return a

rec_forUser = topK_implicit(0,implicit_model)
print(rec_forUser)

[26, 33, 301, 18, 27, 21, 2, 23, 24, 255, 35, 287, 58, 111, 5, 8, 65, 45, 113, 476, 14, 55, 36, 102, 13, 50, 87, 32, 28, 249, 184, 495, 11, 101, 344, 372, 122, 9, 60, 238, 570, 795, 181, 119, 213, 587, 407, 10, 76, 94, 516, 233, 115, 177, 4, 483, 709, 100, 306, 92, 887, 557, 48, 131, 662, 284, 378, 323, 130, 150, 22, 7, 162, 121, 217, 80, 43, 57, 172, 180, 129, 160, 138, 154, 118, 178, 718, 354, 117, 669, 395, 383, 127, 38, 335, 225, 523, 265, 79, 25]

In [40]:
def allUsers_topK_implicit(model):
    a = []
    for i in range(len(num_users)):
       a.append(topK_implicit(i,model))
    return a

### NDCG Score

In [58]:
allUsers_topK_imp = allUsers_topK_implicit(implicit_model)

Compute the relevance for each user. The relevance containes 0s and 1s based on which movies each has watched. For every recommended movie that the user has actually watched, the value of 1 is assigned. There is a relevance list for each user.

In [59]:
def relevance_spotlight_implicit(allUsers_topK):
    relevance_implicit_full = []
    helper = []
    count = 0
    for i in range(1,len(num_users)+1):
        for j in range(len(allUsers_topK[count])):
            if allUsers_topK[count][j] in test_df['book_id'][test_df['user_id'] == i].values.tolist():
                helper.append(1)
            else:
                helper.append(0)
        relevance_implicit_full.append(helper)
        helper = []
        count += 1
    return relevance_implicit_full

In [60]:
relevance_implicit_full = relevance_spotlight_implicit(allUsers_topK_imp)

The dcg and ideal_dcg functions are taken form https://github.com/lezzago/LambdaMart/blob/master/lambdamart.py. They are necessary to compute the desired NDCG evaluation metric.

In [61]:
def dcg(scores):
    """
    Returns the DCG value of the list of scores.
    Parameters
    ----------
    scores : list
        Contains labels in a certain ranked order

    Returns
    -------
    DCG_val: int
        This is the value of the DCG on the given scores
    """
    return np.sum([
                    (np.power(2, scores[i]) - 1) / np.log2(i + 2)
                    for i in range(len(scores))
                ])

In [62]:
def ideal_dcg(scores):
    """
    Returns the Ideal DCG value of the list of scores.
    Parameters
    ----------
    scores : list
        Contains labels in a certain ranked order

    Returns
    -------
    Ideal_DCG_val: int
        This is the value of the Ideal DCG on the given scores
    """
    scores = [score for score in sorted(scores)[::-1]]
    return dcg(scores)

In [63]:
def NDCG_forUser(relevance):
    return dcg(relevance) / ideal_dcg(relevance)

In [64]:
ndcg = NDCG_forUser(relevance_implicit_full)
print(ndcg)

0.7794710188226196

Creation of a list (allUsers_implicit_ndcg) that contains the NDCG score for each user.

In [65]:
def allUsers_ndcg(relevance):
    allUsers_implicit_ndcg = []
    for i in range(len(num_users)):
        allUsers_implicit_ndcg.append(NDCG_forUser(relevance[i]))
    return allUsers_implicit_ndcg

In [66]:
allUsers_implicit_ndcg = allUsers_ndcg(relevance_implicit_full)

C:\Users\papad\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

Fill the nan values with 0s.

In [67]:
allUsers_implicit_ndcg = pd.Series(allUsers_implicit_ndcg).fillna(0).tolist()

# SVD

Pivot is used to have a matrix that has as rows the userIDs and as columns the movieIDs. The unrated, by a user, movies are assigned the value 0 instead of null. Pivot organizes a DataFrame by giving index and column values. It is helpful in the recommender systems approach.

In [69]:
df_book_features = train_df.pivot(
    index='user_id',
    columns='book_id',
    values='rating'
).fillna(0)

In [70]:
df_book_features

book_id,2,3,4,5,7,8,9,10,11,13,...,9967,9972,9974,9978,9988,9990,9991,9995,9998,10000
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1942,0.0,5.0,0.0,0.0,3.0,0.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1947,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1956,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## SVD implementation

In [71]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(df_book_features, k = 10)

## Predictions

To get the prediction of a rating of an item dj, we can calculate the dot product of the two vectors.
The sigma variable has just the values, so I have to convert to a diagonal matrix in orded to implement the matrix multiplication.

In [72]:
sigma = np.diag(sigma)
svd_predictions_score = np.dot(np.dot(U, sigma), Vt)
svd_predictions_score_df = pd.DataFrame(svd_predictions_score, columns = df_book_features.columns)

In [74]:
svd_predictions_score_df

book_id,2,3,4,5,7,8,9,10,11,13,...,9967,9972,9974,9978,9988,9990,9991,9995,9998,10000
0,-0.020315,-0.001296,0.048984,0.033953,-0.040514,0.031691,-0.030366,0.127526,0.020997,-0.047220,...,0.000352,-0.001330,0.000344,0.000182,-0.000765,0.002470,0.000716,0.000386,0.000074,-0.002818
1,0.162465,-0.000030,0.375978,0.391242,0.069971,0.177474,0.341729,0.124765,0.759541,0.244005,...,-0.002937,-0.019237,0.000855,-0.006552,0.003091,-0.002875,0.011447,0.002292,-0.000036,0.000726
2,5.198084,0.232088,4.257326,2.224798,2.197966,1.947199,1.941078,0.208962,1.626405,2.475702,...,-0.000518,0.080627,0.040110,0.023869,0.029356,-0.019179,0.036971,0.046391,0.000449,0.085631
3,-0.000456,-0.000084,-0.001568,0.000629,-0.000449,0.000936,0.000082,0.000504,0.001320,0.000543,...,-0.000020,-0.000033,-0.000028,0.000034,0.000019,0.000026,0.000042,-0.000002,0.000005,-0.000004
4,-0.296604,0.112757,0.977398,-0.628585,1.490977,-0.037300,-0.114248,0.366732,-0.598799,-1.089368,...,0.029801,0.135846,0.041038,-0.015982,-0.012126,0.024618,-0.056706,0.031414,-0.006508,-0.012395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140,-0.215170,0.016127,-0.195751,0.357622,-0.087546,0.768165,0.490062,0.025824,2.589039,-0.292555,...,-0.002954,0.069463,0.016819,-0.019820,-0.006650,0.044722,0.002318,0.004397,-0.002420,-0.001959
1141,0.013750,0.004215,0.064163,-0.022491,0.033080,-0.010981,-0.021620,0.049717,-0.068935,-0.048884,...,0.001096,0.002241,0.001043,-0.000313,-0.000994,0.000502,-0.002290,0.000432,-0.000223,-0.001066
1142,0.153809,0.030224,1.353851,0.770788,1.028935,0.246911,0.202451,1.649047,-0.104180,0.593834,...,0.003384,-0.060238,-0.015385,0.019954,0.018545,-0.016996,0.011872,0.018051,-0.000796,-0.014873
1143,0.931916,0.054852,-0.204772,0.341623,0.585928,0.254753,0.526472,0.133897,1.076615,0.658241,...,-0.004692,-0.014661,-0.009671,0.016501,0.015937,0.001241,0.008074,0.001385,-0.001158,0.015403
1144,0.019320,-0.003643,-0.315760,0.077666,-0.066065,0.024047,-0.146044,0.515518,-0.064626,-0.086883,...,0.003011,-0.016838,-0.001158,0.012463,0.004611,0.010132,0.008288,0.005061,0.001461,-0.010948

In [75]:
svd_predictions_score_df[svd_predictions_score_df.index == 609]

book_id,2,3,4,5,7,8,9,10,11,13,...,9967,9972,9974,9978,9988,9990,9991,9995,9998,10000
609,-0.094924,0.000633,-0.305819,0.063749,-0.014904,0.024362,-0.027737,0.398087,0.345821,-0.060707,...,-0.000402,-0.016442,-0.004866,0.006333,0.005244,0.010332,0.004786,0.001519,-0.000021,-0.009156

## Top-K recommendations

### First

The function below returns a list that contains the top-100 recommendations for each user

In [88]:
def SVD_topK_first(score_df):
    topK_svd_rec = []
    for i in range(len(num_users)):
        svd_h_df = pd.DataFrame({'book_id': score_df[score_df.index == i].columns,
                                 'score': score_df[score_df.index == i].values[0]})
        svd_h_df = svd_h_df.sort_values('score', ascending=False)
        svd_h_df = svd_h_df.head(100)
        topK_svd_rec.append(svd_h_df['book_id'].values)
    return topK_svd_rec

#### NDCG Score

The function below returns the relevance list of a list of movies.

In [89]:
def SVD_relevance_first(score_df):
    svd_topK = SVD_topK_first(score_df)
    relevance_svd_full = []
    helper = []
    count = 0
    for i in range(1,len(num_users)+1):
        for j in range(len(svd_topK[count])):
            if svd_topK[count][j] in test_df['book_id'][test_df['user_id'] == i].values.tolist():
                helper.append(1)
            else:
                helper.append(0)
        relevance_svd_full.append(helper)
        helper = []
        count += 1
    return relevance_svd_full

In [90]:
relevance_first = SVD_relevance_first(svd_predictions_score_df)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [60]:
np.asarray(relevance_first).shape

(610, 100)

In [61]:
n_f = NDCG_forUser(relevance_first[0])

In [62]:
n_f

0.667987214417658

Below is the NDCG scores of each user

In [63]:
all_ndcg_f = allUsers_ndcg(relevance_first)

C:\Users\papad\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

In [64]:
all_ndcg_f = pd.Series(all_ndcg_f).fillna(0).tolist()

In [65]:
np.asarray(all_ndcg_f).mean()

0.38599981091582836

# Research questions

1. What is the impact of genre features?
2. What is the impact